name: Update Calendar

on:
  schedule:
    - cron: '0 * * * *' # Run every 6 hours
  workflow_dispatch:      # Allows manual trigger button

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        run: python main.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add my_manga_history.ics
          git commit -m "Auto-update calendar" || exit 0
          git push
